---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-neo4j-neo4j-com-v1alpha1-neo4jenterprisecluster
  failurePolicy: Fail
  name: mneo4jenterprisecluster.kb.io
  rules:
  - apiGroups:
    - neo4j.neo4j.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - neo4jenterpriseclusters
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-neo4j-neo4j-com-v1alpha1-neo4jenterprisecluster
  failurePolicy: Fail
  name: vneo4jenterprisecluster.kb.io
  rules:
  - apiGroups:
    - neo4j.neo4j.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - neo4jenterpriseclusters
  sideEffects: None
