# Patch to use LetsEncrypt issuer for webhook certificates
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: serving-cert
  namespace: system
spec:
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  # For internal webhook communication, we need to use internal DNS names
  # LetsEncrypt HTTP01 challenge won't work for these internal names
  # So we keep the self-signed issuer for webhooks
  # This patch is commented out by default
  #
  # If you have DNS01 configured, you can use it:
  # issuerRef:
  #   name: letsencrypt-prod-dns01
  #   kind: ClusterIssuer
