apiVersion: apps/v1
kind: Deployment
metadata:
  name: neo4j-operator-controller-manager
  namespace: neo4j-operator-system
spec:
  template:
    spec:
      containers:
      - name: manager
        resources:
          limits:
            cpu: 1000m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 128Mi
